@using PlannerTasks.WEB_MVC.Models
@model IEnumerable<TaskViewModel>
@{
    ViewBag.Title = "ChangeStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>ChangeStatus</p>
<div>
    <p>TaskViewModel</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeExecution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentPriority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeExecution)
                </td>
                @{
                    String statusValue = "";
                }
            <td>
                @{
                    switch (@item.Status)
                    {
                        case 0:
                            statusValue = "NotStarted";
                            break;
                        case 1:
                            statusValue = "OnExecution";
                            break;
                        case 2:
                            statusValue = "OnTesting";
                            break;
                        case 3:
                            statusValue = "Expired";
                            break;
                        case 4:
                            statusValue = "Done";
                            break;
                        default:
                            statusValue = "N/A";
                            break;
                    }
                }
                @Html.DisplayFor(modelItem => @statusValue)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentPriority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
            </tr>
        }
    </table>

    @using (Ajax.BeginForm("ChangeStatusOfTask", new AjaxOptions
    {
        UpdateTargetId = "results",
        LoadingElementId = "loading",
        LoadingElementDuration = 0,
        OnBegin = "OnBegin",
        OnFailure = "OnFailure",
        OnSuccess = "OnSuccess",
        OnComplete = "OnComplete"
    }))
    {
        <input id="employeeId" name="employeeId" type="hidden" value="@ViewBag.EmployeeId" />
        <p>Введіть ідентифікатор задачі, для якої необхідно змінити статус:</p>
        <input type="number" name="taskId" min=1 />
        <input type="submit" value="Пошук статусів" />
    }
    <img id="loading" src="@Url.Content("~/Content/Images/loader.gif")" style="display:none" />
    <div id="loading0" style="display:none; color:Red; font-weight:bold;">
        <p>Йде завантаження...</p>
    </div>
    <div id="results"></div>

</div>
<script src="@Url.Content("~/scripts/jquery-3.1.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/scripts/bootstrap.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.12.0.min.js")" type="text/javascript"></script>

@*for ajax-form*@
<script type="text/javascript">
    function OnBegin() {
        $('#results').empty();
        //jQuery('#results').fadeOut('fast');
    }
    function OnSuccess(data) {
        //jQuery('#results').fadeIn('fast');
    }
    function OnFailure(request, error) {
        $("#results").html("Не вдалося змінити статус задачі для даного робітника!");
    }
    function OnComplete(request, status) {
    }
</script>

<div>
    @Html.ActionLink("Повернутися до списку", "Index")
</div>