@model IEnumerable<PlannerTasks.WEB_MVC.Models.TaskViewModel>

@{
    ViewBag.Title = "SearchTasks";
}

<h2>SearchTasks</h2>

<p>
    @Html.ActionLink("Create New", "MakeTask", new { id = ViewBag.EmployeeId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeExecution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPriority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TaskId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeExecution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentPriority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>
        <td>
            @Html.ActionLink("Змінити статус", "EditStatus", new { id=item.TaskId }) |
            @Html.ActionLink("Видалити задачу", "DeleteTaskOnId", new { id = item.TaskId})
        </td>
    </tr>
}

</table>
